In [1]:
o = object()
o.x = 5

AttributeError: 'object' object has no attribute 'x'

In [2]:
class MyObject:
    pass

m = MyObject()
m.x = "hello"
m.x

'hello'

In [4]:
list1 = []  # creating an empty list
list2 = [1, 2.4, 'abc', (1, 2), [6, 78, 9]]  # creating a list of different values

print("The type of", list1, "is:", type(list1))

print("The type of", list2, "is:", type(list2))

The type of [] is: <class 'list'>
The type of [1, 2.4, 'abc', (1, 2), [6, 78, 9]] is: <class 'list'>

In [5]:
list_1 = [1, 3, 5.6, 'a', "Hello World", 0.4]

print("list_1[2:5] =", list_1[2:5])  # slicing 3rd to 5th element

print("list_1[-5:-2] =", list_1[-5:-2])  # slicing last 5th to 3rd element

print("list_1[3:] =", list_1[3:])  # slicing all elements after 3rd one

print("list_1[:2] =", list_1[:2])  # slicing all elements till 2nd one

print("list_1[:-2] =", list_1[:-2])  # slicing all elements till last 2nd one

list_1[2:5] = [5.6, 'a', 'Hello World']
list_1[-5:-2] = [3, 5.6, 'a']
list_1[3:] = ['a', 'Hello World', 0.4]
list_1[:2] = [1, 3]
list_1[:-2] = [1, 3, 5.6, 'a']

In [6]:
my_tuple = (91, 3.4, "hello")

print(my_tuple[0])

my_tuple[0] = 12

91

TypeError: 'tuple' object does not support item assignment

In [7]:
tup = 1, 2, 3  # packing, parethenisis optional

print("The type of ", tup, "is: ", type(tup))

a, b, c = tup  #unpacking

print(a)
print(b)
print(c)

The type of  (1, 2, 3) is:  <class 'tuple'>
1
2
3

In [9]:
from collections import namedtuple
Stock = namedtuple("Stock", "symbol current high low")
stock = Stock("FB", 75.00, high=75.03, low=74.90)
stock.high

75.03

In [11]:
set1 = {1, 2, 'a', 't', 7.5}
set2 = {'g', 2, 'u', 5.6}

set1.add(5)
print(set1)
print(len(set1))

set2.pop()
print(set2)

set1.remove('a')
print(set1)
set1.discard(1)
print(set1)

set2.remove(5.6)

set1.discard(5)
print(set1)

set2.clear()
print(len(set2))

{1, 2, 5, 7.5, 't', 'a'}
6
{'g', 'u', 5.6}
{1, 2, 5, 7.5, 't'}
{2, 5, 7.5, 't'}
{2, 7.5, 't'}
0

In [12]:
phonebook = {
    "bob": 7387,
    "alice": 3719,
    "jack": 7052,
}

squares = {x: x * x for x in range(6)}

print(phonebook["alice"])

squares

3719

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}